<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EDIT</title>
</head>
<body>
<br>
<div align="center">
    <h2>Edit User</h2>
    <form th:action="@{/userUpdate}" th:object="${user}" method="post">
        <table border="5" cellpadding="15">
            <tr>
                <td>ID:</td>
                <td><input type="number" th:field="${user.id}" readonly/></td>
            </tr>
            <tr>
                <td>firstName:</td>
                <td><input type="text" th:field="${user.firstName}"/></td>
            </tr>
            <tr>
                <td>lastName:</td>
                <td><input type="text" th:field="${user.lastName}"/></td>
            </tr>
            <tr>
                <td>"email:</td>
                <td><input type="text" th:field="${user.email}"/></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="Update"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>