<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NEW</title>
</head>
<body>
<br>
<div align="center">
    <h2>New User</h2>
    <form th:action="@{/userAdd}" method="post">
        <table border="5" cellpadding="15">
            <tr>
                <td>firstName:</td>
                <td><input name="firstName"/></td>
            </tr>
            <tr>
                <td>lastName:</td>
                <td><input name="lastName"/></td>
            </tr>
            <tr>
                <td>email:</td>
                <td><input name="email"/></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="Add"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>